#docs {
	width: 100%;

	.bottom {
		padding: 0;
		background: none;

		.inner {
			padding: 0;
			max-width: none;
			width: 100%;
			margin: 0;

			.content {
				width: 100%;
				margin: 0;

				.h4 {
					margin: 15px;
				}

				iframe {
					border: none;
					max-height: calc(100vh - 105px);
				}
			}
		}

	}

}