<div class="app-header" flex="row">

    <div class="logo">

        <a routerLink="/">OpusWorldWind</a>

    </div>

    <nav class="navigation" flex="row center">

        <a routerLink="/">Overview</a>

		<a routerLink="/getting-started">Getting Started</a>
		
        <a routerLink="/examples">Examples</a>

        <a routerLink="/documentation">Documentation</a>

        <a href="https://github.com/opuslogica/OpusWorldWind" target="_blank">
            <i class="fa fab fa-github"></i>
        </a>

    </nav>

</div>
