$color-white: white;

$color-black: #000;
$color-dark-black: #333;
$color-light-black: #25283d;

$color-grey: #7a7c8e;
$color-light-grey: lighten($color-grey, 10%);
$color-lighter-grey: lighten($color-grey, 20%);

$color-blue: #035fcf;
$color-blue-gradient: #2365af;
$color-input-bg: #f6f7f7;
$color-green: #00d490;
$color-semi-opaque: rgba(255, 255, 255, 0.9);

$color-primary: $color-blue;
$color-primary-secondary: darken($color-blue, 10%);
$color-primary-hover: lighten($color-blue, 10%);

$color-secondary: #00d490;
$color-gradient-1: #0d9de2;
$color-gradient-2: #edfb2f;

$color-success: $color-green;
$color-warn: red;

$color-light-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);






$color-view-bg: #ededed;// #f7f9fa;
$color-app-bg: #eeedec; //ededed;

$color-bg-lt: #f5f5f5;
$color-bg-lt-hover: #fdfdfd;

$color-bg-dark: #456990;

$link-color-light: white;